@import "../../common";

.description-correct {
  color: $primary-foreground;
  font-size: calc(5px + 2vmin);
  text-align: center;
}

.description-incorrect {
  color: red;
  font-size: calc(5px + 2vmin);
  text-align: center;
}

.weather-station-input {
  @extend %basic-input-field;
}
