.weather-details-element {
  width: 100%;
  font-size: calc(7px + 2vmin);
  margin: 0 20px;

  td {
    min-width: 35px;
    text-align: center;
  }

  th {
    padding: 0 5px 0;
  }
}

.weather-icon-container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 20px;
}

table {
  padding: 0 10px;
}
