{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/npm",
    "@semantic-release/git",
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {
            "type": "breaking",
            "release": "major"
          }
        ]
      }
    ]
  ]
}
