@import "../../common";

.nav-bar-button {
  text-decoration: none;
  color: $primary-foreground;
  margin: 10px 20px;
  font-style: italic;
  transition: color 0.3s linear;
  &:hover {
    color: $button-hover-color;
  }
}
