@import "../../common";

.my-weather-stations-container {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $common-font-size;
  color: $primary-foreground;
  background-color: $primary-background;
}

.add-station-button {
  @extend %basic-button;
  &:active {
    @extend %basic-button-active;
  }
}

.empty-station-list-placeholder {
  text-align: center;
}
