@import "../../common";

.my-weather-stations-element {
  width: 100%;
  font-size: $weather-station-list-element-font-size;
  margin: 0 20px;

  td {
    padding: 0 0 0;
    text-align: center;
  }

  th {
    padding: 0 5px 0;
  }

  button {
    @extend %basic-button;
    background-color: $primary-background;
    border: none;
    color: $primary-foreground;
    margin: 0;
    &:active {
      color: $error-foreground;
      transition: color 0s linear;
    }
  }
}
