@import "../../common.scss";

.my-weather-stations-element {
  width: 100%;
  font-size: $weather-station-list-element-font-size;
  margin: 0 20px;

  td {
    min-width: 35px;
    text-align: center;
  }

  th {
    padding: 0 10px 0;
  }
}

table {
  margin-top: 30px;
}
